nav{
  height: 69px;
  display: flex;
  align-items: center;
  background-color: #303041;
  justify-content: space-between;
  border-bottom: 1px solid #4B6085;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 382px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar-option-container:hover .dropdown-menu {
  display: block;
}

.hamburger{
  display: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  position: relative;
  top:2px;
}

.navbar-left{
  display: flex;
  align-items: center;
}

.left-categories{
  display: flex;
  align-items: center;
}

.navbar-right{
  display: flex;
  align-items: center;
  padding-right: 1.25rem;
  gap:.3rem;
}

.navbar-separator {
  width: 1px;
  height: 47px;
  background-color: #757680;
  margin-left: .7rem;
  margin-right: 2.8rem;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
}

.logo{
  position: relative;
  bottom:5px;
  width: max-content;
  display: flex;
  justify-content: center;
}

.logo img{
  width: 100%;
  position: relative;
  bottom:2px;
  left: 2px;
}

.navbar-option-container{
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid transparent ;
  transition: color 0.3s ease, border-left-color 0.3s ease;
  cursor: pointer;
}

.navbar-option-container:hover{
  background-color: #37394b;
  border-left-color: #39e29d;
}

.currency-item{
  border: none;
  width: 96px;
}

.currency-item:hover{
  background-color: transparent;
}

.cart{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px 0 30px;
  gap:.2rem;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.cart-amount{
  font-size: 13px;
  font-weight: 500;
}

.cart:hover{
  color: #39e29d
}

.navbar-option {
  font-weight: 600 !important;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: white;
  transition: color 0.3s ease;
  padding: 1.5rem 1.72rem;
  letter-spacing: 0.68px;
}

.navbar-option-container:hover .navbar-option {
  color: #39e29d;
  transition: color 0.3s ease;
}

.navbar-option-container:hover .flip-chevron {
  transform: scaleY(-1);
}

.nav-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8rem .5rem;
}

.nav-button{
  width: 106px;
  height: 40px;
  background-color: #39E29D;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:.3rem;
}

.nav-button:hover{background-color: #3dd895;}
.nav-button-text{font-size: 14px; font-weight: 600 !important;}
.nav-button-img{position: relative; top:2px;}

.dropdown-menu{display: flex;}
.left-menu{width: 16%;height: 100%;background-color: #37394B;display: flex;
flex-direction: column;}
.dropdown-title{font-size: 14px;color: white;}
.title-dropdown{padding: 1rem;}
.right-menu{background-color: #302c3c;width: 84%;height: 100%;
position: absolute;right: 0; top:0}
.games-list{display: flex;flex-direction: column;}
.games{display: flex;align-items: center; color: white;font-size: 14px;font-weight: 600;padding: 1rem;gap:2rem;
  background-image: linear-gradient(90deg, transparent 0%, transparent 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;}
.games:hover {
  background-size: 100% 100%;
  background-image: linear-gradient(90deg, #302c3c 0%, #302c3c 100%);
  border-left: 2px solid #3dd895;
}
.green-underline {
  position: relative;
}

.green-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: #3dd895;
}
.change-service{padding: 2rem 0;display: flex;flex-direction: column;gap:0rem}
.change{display: flex; align-items: center;width: 100%;justify-content: space-around;
padding: 1rem 0;font-size: 14px;font-weight: 600;overflow: hidden;
background-image: linear-gradient(90deg, transparent 0%, transparent 100%);
background-size: 0% 100%;
background-repeat: no-repeat;
transition: background-size 0.3s ease;}
.change:hover {
  background-size: 100% 100%;
  background-image: linear-gradient(90deg, #302c3c 0%, #302c3c 100%);
  border-left: 2px solid #3dd895;
}
.service-text{width: 50px;}
.dropdown-search{padding: 1rem 3rem;padding-bottom: 0rem;}
.dropdown-items {
  padding: 1rem 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  font-size: 14px;
  font-weight: 600;
  color: white;
}

.grid-item {
  padding: 8px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: flex-start;
  gap:1rem;
  background-image: linear-gradient(90deg, transparent 0%, transparent 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease;
}

.grid-item:hover{
  background-size: 100% 100%;
  background-image: linear-gradient(90deg, #37394B 0%, #37394B 100%);
  border-left: 2px solid #3dd895;
}

.game-icon-grid{width: 20px;height:20px ;}


@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Hamburger Menu CSS */
.hamburger-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(38,40,51);
  animation: slideIn 0.3s ease-in-out; 
  z-index: 999;
}

.button-search{
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}
.hamburger-search{width: 100%;padding: 1rem 1rem 0 1rem;}

.close-button {
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  gap:.5rem;
  padding: 1rem 0 0 1rem;
}

.hamburger-menu-content {
  padding: 20px;
  color: #333;
}

.ham-item{display: flex;justify-content: space-between;padding: 1rem 0;color: white;font-weight: 600;
font-size: 14px;cursor: pointer;flex-direction: column;}
.h2{height: 2px;background-color: #2E3444;}
.ham-item-text{display: flex; justify-content: space-between;align-items: center;width: 100%;padding: 0 1rem;}
.search-bar2:hover{background-color: #384454;}

.hamburger-content{padding-bottom: 1rem;}

.mobile-dropdown-menu {
  margin-top: 1rem;
  width: 100%;
  background-color: #2E3444;
  z-index: 2;
  display: none;
}

.hamburger-content::-webkit-scrollbar {
  width: 0.2em;
}

.hamburger-content::-webkit-scrollbar-thumb {
  background-color: transparent; 
  border-radius: 4px;
}

.mobile-dropdown-menu.open {
  display: block;
}

.mobile-dropdown-item {
  padding: 1rem 3rem;
  cursor: pointer;
  display: flex;align-items: center;gap:.5rem;
}





@media (max-width: 1500px) {
    .navbar-option{
        padding: 1.5rem 1.36rem;
    }
    .nav-button-container{
        padding: .8rem 0rem;
    }
    .navbar-right{
        padding-right: 1.7rem;
        gap:0rem;
    }
}

@media (max-width: 1400px) {
    .logo-container{display: none !important;}
    .navbar-separator{display: none;}
    .navbar-left{padding-left: .9rem;}
    .left-menu{width: 18%;}
    .right-menu{width: 82%;}
}

@media (max-width: 1200px) {
    .logo-container{display:inline-block !important;
        padding: 1rem 1rem;}
    .logo img{width: 85%;}
    .left-categories{display: none;}
    .currency-item{display: none;}
    .navbar-right{padding-right: 2.75rem;}
    .hamburger{display: block;position: relative;left:.6rem;}
}

@media (max-width: 576px) {
    .logo-container{padding-left: 0rem;padding-right: 0;}
    .logo img{width: 63%;position: relative;top:.3px;left:2.9px;}
    .navbar-right{padding-right: .75rem;}
    .hamburger{left:.6rem;top:2px}
    .cart{display:none}
    .search-bar2{padding: 1rem;}
}